@model List<MovieOrderViewModel>
<br />
<br />
@{
	ViewBag.OrderListactiv = "OrderList";
}
<div class="card mb-5 mb-xl-8">
	<!--begin::Header-->
	<div class="card-header border-0 pt-5">
		<h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold fs-3 mb-1">New Products</span>
			<span class="text-muted mt-1 fw-semibold fs-7">Over 500 new products</span>
		</h3>
	</div>
	<!--end::Header-->
	<!--begin::Body-->
	<div class="card-body pt-3">
		<!--begin::Table container-->
		<div class="table-responsive">
			<!--begin::Table-->
			<table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
				<!--begin::Table head-->
				<thead>
					<tr class="border-0">
						<th class="p-0 min-w-150px">Movie</th>
						<th class="p-0 min-w-200px">price per movie</th>
						<th class="p-0 min-w-150px">Amount</th>
						<th class="p-0 min-w-100px text-end">Total price</th>
					</tr>
				</thead>
				<!--end::Table head-->
				<!--begin::Table body-->
				<tbody>
					@foreach(var movieOrder in Model)
					{
						<tr>
							<td class="text-muted fw-semibold ">@movieOrder.Movie.Name</td>
							<td class="text-muted fw-semibold ">@movieOrder.Movie.Price</td>
							<td class="text-muted fw-semibold ">@movieOrder.Amount</td>
							<td class="text-muted fw-semibold text-end">@movieOrder.Price</td>
						</tr>
					}
				</tbody>
				<!--end::Table body-->
			</table>
			<!--end::Table-->
		</div>
		<!--end::Table container-->
	</div>
	<!--begin::Body-->
</div>